* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} /*Подсмотрел из шортов у Макеева, пока не совсем понимаю как работает, сделал просто чтобы убрать лишнее со страницы*/

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}


/*Header and main navigation*/

.main-header {
  position: relative;
  padding: 0 6%;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 44.33%;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  line-height: 26px;
}

.site-navigation li {
  flex-basis: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: 11%;
}

.site-navigation li:nth-child(2)::after {
  content: "";
  width: 20%;
} 

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.site-navigation a[href] {
  color: #000000;
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  color: #cacaca;
}

/*Slogan*/

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 508px;
  background-color: #9e8187; 
  background-image: url("../img/sedona_landscape.jpg");
  background-repeat: no-repeat;
  background-position: 50% 28%;
  background-size: cover;
}

.intro img:after {

}

/*Features*/

.features {
  text-align: center;
}

.features h3,
.features h4 {
  font-size: 21px;
}

.features-lead {
  margin: 60px 0px 26px 0px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.features-header {
  margin: 0 0 52px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.features-list,
.advantage-list,
.special-list {
  list-style: none;
  background-color: #eeeeee;
}

.advantage-list {
  height: 330px;
  display: flex;
  color: #000000;
  background-color: #ffffff;
}

.advantage-item {
  flex-basis: 33.33%;
}

.formalized-item {
  display: flex;
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}

.special-list {
  height: 256px;
  display: flex;
}

.special-item {
  flex-basis: 33.33%;
}

.item-content {
  flex-basis: 33.33%;
}

.order-1 {
  order: -1;
}

.item-header {
  margin-top: 47px;
  margin-bottom: 25px;
}

.item-text {
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.item-img-1 {
  width: 66.67%;
  height: 256px;
  background-image: url("../img/sedona_feature_1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-size: cover;
}

.item-img-2 {
  width: 66.67%;
  height: 256px;
  background-image: url("../img/sedona_feature_2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-size: cover;
}

.number-1:before {
  content: "— №1 —";
  display: block;
  padding-bottom: 21px;
}

.number-2:before {
  content: "— №2 —";
  display: block;
  padding-bottom: 21px;
}

.number-3:before {
  content: "— №3 —";
  display: block;
  padding-bottom: 21px;
}

.number-4:before {
  content: "— №4 —";
  display: block;
  padding-bottom: 21px;
}

.number-5:before {
  content: "— №5 —";
  display: block;
  padding-bottom: 21px;
}

.house:before {
  content: url("../img/icon-1.svg");
  display: block;
  padding-top: 13px;
  padding-bottom: 26px;
}

.meal:before {
  content: url("../img/icon-3.svg");
  display: block;
  padding-top: 13px;
  padding-bottom: 26px;
}

.presents:before {
  content: url("../img/icon-2.svg");
  display: block;
  padding-top: 13px;
  padding-bottom: 26px;
}







/*Базовая стилизация раздела с кнопкой поиска отелей в Седоне. Здесь же задаю параметры button схожие для всех данных элементов*/

.hotel-search {
  padding-top: 49px;
  text-align: center;
}

.interesting {
  padding-bottom: 38px;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search p {
  margin-top: 24px;
  margin-bottom: 47px;
  line-height: 24px;
}

.button {
  font: inherit;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

}

.order-button {
  padding: 30px 140px;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  border: none;
}

.order-button:hover,
.order-button:focus {
  background-color: #604e43;
}

.order-button:active {
  color: #928a85;
  background-color: #503e33;
}

/*Базовая стилизация раздела с формой поиска отелей в Седоне*/

.booking-form input[type="text"] {
  font: inherit;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.booking-form input:hover {
  background-color: #ebebeb;
}

.booking-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.black-placeholder::-webkit-input-placeholder {
  color: #000000;
}

.black-placeholder::-moz-placeholder {
  color: #000000;
} /* Firefox 19+ */

.black-placeholder:-moz-placeholder {
  color: #000000;
} /* Firefox 18- */

.black-placeholder:-ms-input-placeholder {
  color: #000000;
} /*Префиксы нагуглил, не смог стандартными способами стилизовать placeholder и то в Firefox не завелось, IE11 Chrome - нормально*/

.booking-form label {
  font-weight: 700;
  line-height: 26px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

/*Базовая стилизация футера*/

.main-footer {
  text-align: center;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.copyright b {
  line-height: 26px;
}

/*Базовая стилизация раздела с формой фильтра жилья*/

.filter-form {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/sedona_boke.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filter-form-infra,
.filter-form-type {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-form input {
  font: inherit;
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.white-placeholder::-webkit-input-placeholder {
  color: #ffffff;
}

.white-placeholder::-moz-placeholder {
  color: #ffffff;
} /* Firefox 19+ */

.white-placeholder:-moz-placeholder {
  color: #ffffff;
} /* Firefox 18- */

.white-placeholder:-ms-input-placeholder {
  color: #ffffff;
}

.slider-point:hover {
  cursor: pointer;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}


/*Базовая стилизация раздела с результатами поисков жилья*/

.sorting-quantity {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-types,
.sorting-category {
  font-size: 12px;
  line-height: 18px;
}

.sorting-category {
  margin: 0;
  padding: 0;
  list-style: none;
}


.sorting-category a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-category-current a {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-category a:hover,
.sorting-category a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-category a:active {
  color: #000000;
  border-bottom: none;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-name a {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #cacaca;
}

.hotel-button {
  background-color: #81b3d2;
}

.hotel-button:hover,
.hotel-button:focus {
  background-color: #669ec0;
}

.hotel-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.booking-button {
  background-color: #766357;
}

.booking-button:hover,
.booking-button:focus {
  background-color: #604e43;
}

.booking-button:active {
  color: #928a85;
  background-color: #503e33;
}

.hotel-rating {
  color: #666666;
  background-color: #f2f2f2;
}
