* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.wrapper-inner {
  padding-left: 6%;
  padding-right: 6%;
}


/*Header and main navigation*/

.main-header {
  position: relative;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 44.33%;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  list-style: none;
  font-weight: 700;
  line-height: 26px;
}

.site-navigation li {
  flex-basis: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: 11%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.site-navigation a[href] {
  color: #000000;
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  color: #cacaca;
}

/*Slogan*/

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 508px;
  background-color: #9e8187;/*На случай неподгрузки картинки*/
  background-image: url("../img/sedona_landscape.jpg");
  background-repeat: no-repeat;
  background-position: 50% 28%;
  background-size: cover;
}

/*Features*/

.features {
  text-align: center;
}

.features h3,
.features h4 {
  font-size: 21px;
}

.features-lead {
  margin-top: 60px;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.features-header {
  margin-bottom: 52px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.features-list,
.advantage-list,
.special-list {
  list-style: none;
  background-color: #eeeeee;
}

.features-list li,
.special-list li {
  min-height: 256px;
}

.formalized-item {
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
}

.item-header {
  margin-top: 47px;
  margin-bottom: 25px;
}

.item-text {
  margin-left: 14.75%;
  margin-right: 14.75%;
}


.special-item,
.advantage-item,
.item-content {
  width: 33.33%;
}

.item-img {
  width: 66.67%;
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-size: cover;
}

.img-1 {
  background-image: url("../img/sedona_feature_1.jpg");
}

.img-2 {
  order: -1;
  background-image: url("../img/sedona_feature_2.jpg");
}

.advantage-list {
  display: flex;
  min-height: 330px;
  color: #000000;
  background-color: #ffffff;
}

.special-list {
  display: flex;
}

.number-1:before {
  content: "— №1 —";
  display: block;
  margin-bottom: 21px;
}

.number-2:before {
  content: "— №2 —";
  display: block;
  margin-bottom: 21px;
}

.number-3:before {
  content: "— №3 —";
  display: block;
  margin-bottom: 21px;
}

.number-4:before {
  content: "— №4 —";
  display: block;
  margin-bottom: 21px;
}

.number-5:before {
  content: "— №5 —";
  display: block;
  margin-bottom: 21px;
}

.house:before {
  content: url("../img/icon-1.svg");
  display: block;
  padding-top: 12px;
  padding-bottom: 26px;
}

.meal:before {
  content: url("../img/icon-3.svg");
  display: block;
  padding-top: 13px;
  padding-bottom: 27px;
}

.presents:before {
  content: url("../img/icon-2.svg");
  display: block;
  padding-top: 8px;
  padding-bottom: 26px;
}

/*Hotel search*/

.hotel-search {
  text-align: center;
}

.interesting {
  margin-top: 49px;
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search-info {
  margin-bottom: 46px;
  line-height: 24px;
}

.button {
  font: inherit;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

}

.order-button {
  padding: 30px 139px;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  border: none;
}

.order-button:hover,
.order-button:focus {
  background-color: #604e43;
}

.order-button:active {
  color: #928a85;
  background-color: #503e33;
}

/*Map*/

.map-area {
  min-height: 473px;
}


/*Form search*/

.booking-form input[type="text"] {
  font: inherit;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.booking-form input:hover {
  background-color: #ebebeb;
}

.booking-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.black-placeholder::-webkit-input-placeholder {
  color: #000000;
}

.black-placeholder::-moz-placeholder {
  color: #000000;
} /* Firefox 19+ */

.black-placeholder:-moz-placeholder {
  color: #000000;
} /* Firefox 18- */

.black-placeholder:-ms-input-placeholder {
  color: #000000;
} /*Префиксы нагуглил, не смог стандартными способами стилизовать placeholder и то в Firefox не завелось, IE11 Chrome - нормально*/

.booking-form label {
  font-weight: 700;
  line-height: 26px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

/*Footer*/

.main-footer {
  display: flex;
  align-items: center;
  min-height: 120px;
}

.footer-content {
  display: flex;
  justify-content: center;
  width: 33.33%;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 151px;
  list-style: none;
}

.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button svg {
  margin: auto;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg path {
  fill: #88b6d1;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 197px;
}

.copyright p {
  line-height: 26px;
}

.webstudio {
  display: block;
  width: 115px;
  height: 41px;
  background-color: #ffffff;
}

.webstudio:hover svg path {
  fill: #81b3d2;
}

.webstudio:active svg path {
  fill: #bdbbbc;
}

/*Form filter*/

.filter {
  min-height: 217px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/sedona_boke.jpg");
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: cover;
}

.filter-form {
  display: flex;
  width: 100%;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
}

.column-checkboxed {
  width: 22.82%;
  margin-right: 15px;
  outline: 1px dashed crimson;
}

.column-price {
  width: 31.06%;
  margin-left: auto;
  outline: 1px dashed crimson;
}



.filter-form-infra,
.filter-form-type {
  list-style: none;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-form input {
  font: inherit;
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.white-placeholder::-webkit-input-placeholder {
  color: #ffffff;
}

.white-placeholder::-moz-placeholder {
  color: #ffffff;
} /* Firefox 19+ */

.white-placeholder:-moz-placeholder {
  color: #ffffff;
} /* Firefox 18- */

.white-placeholder:-ms-input-placeholder {
  color: #ffffff;
}

.slider-point:hover {
  cursor: pointer;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}


/*Search result*/

.sorting {
  min-height: 87px;
}

.sorting-quantity {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-types,
.sorting-category {
  font-size: 12px;
  line-height: 18px;
}

.sorting-category {
  list-style: none;
}


.sorting-category a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-category-current a {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-category a:hover,
.sorting-category a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-category a:active {
  color: #000000;
  border-bottom: none;
}

.hotels-list {
  list-style: none;
}

.hotels-list:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-list-item {
  border-top: 1px solid #e5e5e5;
}

.hotel-name a {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #cacaca;
}

.hotel-button {
  background-color: #81b3d2;
}

.hotel-button:hover,
.hotel-button:focus {
  background-color: #669ec0;
}

.hotel-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.booking-button {
  background-color: #766357;
}

.booking-button:hover,
.booking-button:focus {
  background-color: #604e43;
}

.booking-button:active {
  color: #928a85;
  background-color: #503e33;
}

.hotel-rating {
  color: #666666;
  background-color: #f2f2f2;
}
